.navbar-link {
  text-decoration: none;
  color: black;
  margin: 15px;
}

.navbar-wrapper {
    /* padding: 15px; */
    display: flex;
    flex-direction: row;
}

.navbar-wrapper div {
  margin: 15px;
}

.navbar {
    display: flex;
}